
/**
 * CONTENTS
 *
 * CONTAINER
 *
 * MEDIA
 */



/*------------------------------------*\
  #CONTAINER
\*------------------------------------*/

.container {
	display: grid;
	grid-template-areas: 
  "header header header"
  "menu main sidebar"
	"footer footer footer";
  grid-template-columns: 150px 1fr 150px;
  grid-template-rows:    auto 1fr auto;
  grid-gap:              10px;
  height:                100vh;
}





 /*------------------------------------*\
  #MEDIA
\*------------------------------------*/


@media (max-width: 768px) {
	.container {
		grid-template-areas: 
    "header"
		"menu"
		"main"
		"sidebar"
		"footer";
		grid-template-columns: 100%;
		grid-template-rows:    100px 50px 1fr 50px 70px;
	}
}

@media (max-width: 768px) {
  .btn{
    display:inline;
  }
}

@media (max-width: 768px) {
  .header{
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  .footer{
    font-size: 1rem;
   }
  }

@media (max-width: 768px) {
  .main{
    flex-direction: column;
    align-content:  space-evenly;
  }
}




.header { grid-area:  header; }
.main { grid-area:    main; }
.menu { grid-area:    menu; }
.sidebar { grid-area: sidebar; }
.footer { grid-area:  footer; }




